* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  color: #fefefe;
  font-family: Helvetica, sans-serif;
  font-size: 32px;
}

header {
  color: white;
  margin: 20px;
  text-align: left;
  font-style: italic;
}

.crossed {
  text-decoration: line-through;
  font-family: system-ui;
  font-style: normal;
  font-size: 44px;
  font-weight: 450;
}

.container {
  margin: 20px;
  align-items: left;
}

input[type="text"] {
  width: 300px;
  font-size: 32px;
  border-radius: 5px;
  padding: 5px;
}

select {
  width: 75px;
  padding: 5px;
  font-size: 32px;
  border-radius: 5px;
  background-color: #f9f9f9;
  color: #0a0909;
}

button {
  padding: 5px;
  font-size: 32px;
  border-radius: 5px;
  width: 130px;
}
